.header--wrapper {
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}

.header--body{
    padding: 0 10%;
    background: #2A363B;
    height: 80px;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.header--nav{
    padding:0;
    display: flex;
    width: 85%;
    min-width: 220px;
    flex-grow: 1;
}

.header--navLogin{
    padding: 0;
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 10px;
}

.header--navLogin .btnLogin{
    width: 100%;
    font: 1.5em;
    margin-top: 10px;
    height: 40px;
    background: #333333;
    color: #FFFF;
    transition: 0.5s;
    text-decoration: none;
    display: inline-block;
    border: none;
}
.header--navLogin .btnLogin:hover {
    background: #333333;
    color: #99B898;
    letter-spacing: 1px;
    border-radius: 10px;
}

.btnSave{
    font: 1.5em;
    background: #333333;
    color: #FFFF;
    transition: 0.5s;
    text-decoration: none;
    display: inline-block;
    border: none;
}
.btnSave:hover {
    background: #333333;
    color: #99B898;
    letter-spacing: 1px;
    border-radius: 10px;
}
.btnCancel{
    font: 1.5em;
    background: #E84A5F;
    color: #FFFF;
    transition: 0.5s;
    text-decoration: none;
    display: inline-block;
    border: none;
}
.btnCancel:hover {
    background: #E84A5F;
    color: #FECEA8;
    letter-spacing: 1px;
    border-radius: 10px;
}

.header--list{
    list-style: none;
    width: 80px;
}

.header--list a{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-weight: 500;
}

.header--icon{
    transition: 0.5s;
    position: relative;
    display: block;
    line-height: 85px;
    font-size: 1.5em;
    text-align: center;
    color: rgba(255,255,255,0.5);
}
.header--list a:hover .header--icon{
    color: #fff;
}

.header--text{
    transition: 0.5s;
    position: absolute;
    font-weight: 600;
    font-size: 0.6em;
    color: #fff;
    text-transform: uppercase;
    transform: translateY(16px);
    letter-spacing: 0.05em;
    opacity: 0;

}
.header--list a:hover .header--text{
    opacity: 1;
}

.btn-log {
    color: white;
    height: 40px;
    padding: 0 20px;
    margin-top: 20px;
}

#myModal {
    z-index: 99999;
}

.active--link {
    background-color:#4c5559;
}

.header--nav {
    margin: 0;
}