:root{
    --bg-color: #2B363C;
    --bg-color-2nd: #000001;
    --main-color: #FFCEA7;
    --main-color-2nd: #4F657B;
    --main-color-3rd: #6e93be;
    --text-color: #FBFFFA;
    --large-font: 4rem;
    --medium-font: 2.5rem;
    --small-font: 1.2rem;
}



.header--wrapper {
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}

.header--body{
    padding: 0 10%;
    background: var(--main-color-2nd);
    height: 80px;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.header--nav{
    padding:0;
    display: flex;
    width: 85%;
    min-width: 220px;
    flex-grow: 1;
}

.header--navLogin{
    padding: 0;
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 10px;
}

.header--navLogin .btnLogin{
    width: 110px;
    font: 1.5em;
    margin-top: 10px;
    height: 40px;
    background: var(--bg-color);
    color: var(--text-color);
    transition: 0.5s;
    text-decoration: none;
    display: inline-block;
    border: none;
    padding: 0 15px;
}
.header--navLogin .btnLogin:hover {
    background: var(--bg-color-2nd);
    color: var(--main-color-3rd);
    letter-spacing: 1px;
    border-radius: 10px;
}

.btnSave{
    font: 1.5em;
    background: var(--bg-color);
    color: var(--text-color);
    transition: 0.5s;
    text-decoration: none;
    display: inline-block;
    border: none;
}
.btnSave:hover {
    background: var(--bg-color);
    color: var(--main-color-3rd);
    letter-spacing: 1px;
    border-radius: 10px;
}
.btnCancel{
    font: 1.5em;
    background: var(--bg-color-2nd);
    color: var(--text-color);
    transition: 0.5s;
    text-decoration: none;
    display: inline-block;
    border: none;
}
.btnCancel:hover {
    background: var(--bg-color-2nd);
    color: var(--main-color-3rd);
    letter-spacing: 1px;
    border-radius: 10px;
}

.header--list{
    list-style: none;
    width: 80px;
}

.header--list a{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-weight: 500;
}

.header--icon{
    transition: 0.5s;
    position: relative;
    display: block;
    line-height: 85px;
    font-size: 1.5em;
    text-align: center;
    color: rgba(255,255,255,0.5);
}
.header--list a:hover .header--icon{
    color: var(--text-color);
}

.header--text{
    transition: 0.5s;
    position: absolute;
    font-weight: 600;
    font-size: 0.6em;
    color: var(--text-color);
    text-transform: uppercase;
    transform: translateY(16px);
    letter-spacing: 0.05em;
    opacity: 0;

}
.header--list a:hover .header--text{
    opacity: 1;
}

.btn-log {
    color: var(--text-color);
    height: 40px;
    padding: 0 20px;
    margin-top: 20px;
}

#myModal {
    z-index: 9999;
}

.active--link {
    background-color: var(--bg-color);
}

.header--nav {
    margin: 0;
}

/* User Button */

.btn-UserProfile {
    height: 100%;
    width: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.popover-linkItem {
    text-decoration: none;
    color: var(--bg-color-2nd);
    width: 100%;
}