.sectionHome--body{
background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(68, 76, 80) 0%, rgba(111,142,103,1) 100%);
    min-height: calc(100vh - 90px);
    padding: 30px 10% 10px;
    width: 100%;
    border-bottom: 8px solid #FECEA8;
    display: flex;
    align-items: center;
}

/*  */
.sectionHomeArcade--body {
    background: url("../assets/ArcadeBackground.jpg") scroll;
    background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sectionHome--mainText{
    text-align: center;
}

h1 {
    transition: 0.5s;
    color: #FECEA8;
    font-size: 7vw;
}
h1:hover{
    letter-spacing: .05em;
    font-size: 7.5vw;
    color: #99B898;
}
.sectionHome--mainText h1 span{
    color: white;
}

.sectionHome--mainText p{
    color: #ffffff;
    font-size: 35px;
    font-style: italic;
    line-height: 20px;
}

/*  */
.sectionHomeArcade--Title{
    border: 0 !important;
    color: white !important;
    font-style: bold !important;
}

.sectionHome--mainText {
    display: flex;
}

.sectionHome--LogoWrapper {
    flex: 1;
}

.sectionHome--ContentWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 90%;
}