:root{
    --bg-color: #2B363C;
    --bg-color-2nd: #000001;
    --main-color: #FFCEA7;
    --main-color-2nd: #4F657B;
    --main-color-3rd: #6e93be;
    --text-color: #FBFFFA;
    --large-font: 4rem;
    --medium-font: 2.5rem;
    --small-font: 1.2rem;
}

.sectionAbout--body{
    background: var(--bg-color);
    min-height: 100vh;
    padding: 30px 10% 50px;
    border-bottom: 8px solid var(--main-color);
}

.sectionAbout--mainText{
    padding-top: 10px;
    text-align: center;
}
.sectionAbout--mainText > h2{
    color: var(--main-color);
    transition: 0.5s;
    text-align: left;
    font-size: 5vw;
    border-bottom: 4px solid var(--text-color);
}
.sectionAbout--mainText > h2:hover{
    letter-spacing: .01em;
}
.sectionAbout--mainText h2 span{
    color: var(--text-color);
}
.sectionAbout--mainText p{
    color: var(--text-color);
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.sectionAbout--teamContent{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 2rem;
}

.sectionAbout--boxContent{
    background: var(--main-color-2nd);
    padding: 35px 45px;
    transition: 0.5s;
}
.sectionAbout--boxContent:hover{
    background: var(--main-color-3rd);
    border-radius: 60px 0px 30px 0px;
}

.sectionAbout--iconContent{
    color: var(--text-color);
    font-size: 40px;
    margin-bottom: 15px;
}
.sectionAbout--boxContent > h3{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.sectionAbout--boxContent > p{
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 15px;
}
.sectionAbout--links{
    display: inline-block;
    padding: 8px 18px;
    background: var(--bg-color);
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    transition: 0.5s;
    text-decoration: none;
}

.sectionAbout--boxContent a{
    transition: .5s;
}

.sectionAbout--boxContent:hover a{
    border-radius: 10px;
}
.sectionAbout--boxContent a:hover {
    background: var(--bg-color-2nd);
    color: var(--main-color-3rd);
    letter-spacing: 4px;
}