:root{
  --bg-color: #2B363C;
  --bg-color-2nd: #000001;
  --main-color: #FFCEA7;
  --main-color-2nd: #4F657B;
  --main-color-3rd: #6e93be;
  --text-color: #FBFFFA;
  --large-font: 4rem;
  --medium-font: 2.5rem;
  --small-font: 1.2rem;
}



.sectionArcade--body {
  background: var(--bg-color);
  min-height: 100vh;
  padding: 30px 15% 10px;
  border-bottom: 8px solid var(--main-color);
}

.sectionArcade--mainText {
  text-align: center;
}
.sectionArcade--mainText > h2 {
  color: var(--main-color);
  transition: 0.5s;
  text-align: left;
  font-size: 5vw;
  border-bottom: 4px solid var(--text-color);
}
.sectionArcade--mainText > h2:hover {
  letter-spacing: 0.01em;
}
.sectionArcade--mainText h2 span {
  color: var(--text-color);
}
.sectionArcade--mainText p {
  color: var(--text-color);
  font-size: 15px;
  text-align: left;
}

.sectionArcade--mainContent {
  width: 100%;
  display: flex;
  margin-top: 10px;
  padding-bottom: 10%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}

.sectionArcade--mainContent > .items {
  padding: 15px;
  margin: 10px;
  border: 4px solid var(--main-color-2nd);
  border-radius: 10px;
  width: 280px;
  transition: all 0.5s ease;
}

.sectionArcade--mainContent > .items:hover {
  padding: 0px;
}

.poster {
  width: 100%;
  height: 300px;
  padding: 5px 5px;
}

.poster h4 {
  color: var(--text-color);
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
  border-radius: 5px;
  text-shadow: 2px 1px 2px #474747;
}

.poster_imageBackground {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster_content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.poster_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.heart-Icon {
  color: black;
}

.btn-Clicked .heart-Icon {
  color: #f00;
}

.heart-Icon {
  display: inline-block;
  font-size: 24px;
  transition: all 0.2s;
}

.heart-Icon.heart-Animated {
  animation: jumping 0.5s ease-in-out 3;
}

@keyframes jumping {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.9);
  }
  100% {
    transform: scale(1);
  }
}

.buttons_poster_wrapping {
  display: flex;
  justify-content: space-between;
}

.button_poster,
.button_filter {
  /* box-shadow: 0px 1px 0px 0px #666665; */
  color: rgb(34, 34, 34);
  background-color: var(--main-color);
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  border: none;
}

.button_poster:hover {
  background-color: var(--main-color);
  color: var(--main-color-3rd);
}

.filter_buttons_wrapper {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button_filter {
    background: var(--bg-color-2nd);
    color: rgb(184, 184, 184);
}
.button_filter:hover {
  color: var(--main-color-3rd) !important;
}

.button_filter_activate {
   background: var(--main-color) !important;
   color: var(--bg-color-2nd) !important;
}
.button_filter_activate:hover {
  background: var(--main-color) !important;
  color: var(--bg-color-2nd) !important;
}


/* Search Bar */

.sectionWiki_searchBar {
  margin: 15px 0;
  background-color: var(--main-color);
  padding: 15px 15px;
  border-radius: 10px;
  display: flex;
}

.sectionWiki_searchBar input {
  flex: 10;
  width: 100%;
  padding: 5px 10px;
  outline: none;
  border-radius: 10px 0 0 10px;
  border: none;
}

.sectionWiki_searchBar button {
  flex: 1;
  color: var(--text-color);
  background: var(--bg-color-2nd);
  border: none;
  border-radius: 0 10px 10px 0;
}

