*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --bg-color: #2B363C;
    --bg-color-2nd: #000001;
    --main-color: #FFCEA7;
    --main-color-2nd: #4F657B;
    --main-color-3rd: #6e93be;
    --text-color: #FBFFFA;
    --large-font: 4rem;
    --medium-font: 2.5rem;
    --small-font: 1.2rem;
}

.userP--body{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-2nd);
    display: flex;
    justify-content: center;
    align-items: center;
}
.userP--container{
    width: 85%;
    /* height: 80vh; */
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    width: 100%;
}
.card:nth-of-type(1){
    background-color: var(--bg-color);
    grid-column: 1/2;
    grid-row: 1/4;
}
.card:nth-of-type(2){
    background-color: var(--bg-color);
    grid-column: 2/5;
    grid-row: 1/4;
}




/* User avatar*/
.userP--avatarContainer{
    padding: 2.5em;
    max-width: 200px;
    border-right: 6px solid var(--main-color);
}
.userP--avatarContainer .imgContainer{
    position: relative;
    top: 10;
    width: 200px;
    display: block;
}
.imgContainer > img{
    border: 6px solid var(--main-color);
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* User Profile Info */
.userP--infoContainer{
    padding-left: 2rem;
    min-height: 550px;
}
.userP--Heading{
    text-align: left;
    margin-top: 1em;
}
.userP--Heading h3{
    color: var(--text-color);
    font: bold;
    font-size: var(--large-font);
    letter-spacing: 6px;
    font-weight: 600;
}
.userPInfo-form{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 1em;
}
.userPInfo-form form{
    position: relative;
    width: 90%;
}
form .inputsContainer{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 8px;
}
form .inputsContainer input{
    width: 100%;
    padding: 0.5em;
    border: none;
    outline: none;
    color: var(--text-color);
    margin-bottom: 0.5em;
    border-bottom: 4px solid var(--text-color);
}
form input, form textarea{
    /* background: #c1c1c6;  */
    font-size: var(--small-font);
    color: var(--text-color);
    background: transparent;
    letter-spacing: 0.1rem;
}
form input::placeholder,
form textarea::placeholder{
    color: var(--text-color);
    letter-spacing: 0.1rem;
    font-size: var(--small-font);
}
form textarea{
    width: 100%;
    resize: none;
    height: 150px;
    padding: 15px;
    border: none;
    outline: none;
    color: var(--text-color);
    margin-bottom: 0.5em;
}
.btn{
    margin-right: 1.5em;
    min-width: 150px;
    background: var(--main-color);
    color: var(--bg-color-2nd);
    box-shadow: 4px 4px var(--text-color);
    padding: 0 0.5em;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: var(--small-font);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: ease all 0.35s;
    margin-bottom: 0.8rem;
}
form .btn:hover{
    background: var(--main-color-2nd);
    font-weight: 600;
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}



/* Responsive */
@media (max-width:1150px){
    .userP--container{
        width: 100%;
    }
    :root{
        --small-font: 1rem;
    }
}
@media (max-width:950px){
    :root{
        --large-font: 3rem;
        --medium-font: 2rem;
    }
}
@media (max-width:850px){
    form .inputsContainer{
        grid-template-columns: 1fr;
    }
    :root{
        --small-font: .8rem;
    }
    form .btn{
        min-width: 100px;
    }
}
@media (max-width:730px){

    .card:nth-of-type(1){
        background-color: var(--bg-color);
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .card:nth-of-type(2){
        background-color: var(--bg-color);
        grid-column: 1/5;
        grid-row: 2/3;
    }
    .card:nth-of-type(3){
        grid-column: 1/5;
        grid-row: 3/5;
    }
    .userP--avatarContainer{
        border-right: none;
    }
    :root{
        --small-font: .9rem;
    }
} 

